# Módulo 4: Introdução ao Pandas e carga de dados
# Exercício 1


Faremos neste Notebook aplicações que utilizam o Séries no Pandas e DataFrames. São sete exercícios:
1) Criação de Série do Pandas com uma lista de dados;
2) Criação de índices na Série;
3) Criação de Série do Pandas com dicionários de dados;
4) Criação de um DataFrame a partir de um NDarray;
5) Noameação de indices de linhas e colunas;
6) Criação de uma coluna média baseada nos valores das colunas;
7) Criação de uma coluna com o logaritmo natural.





#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na temperatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [84]:
import pandas as pd
import numpy as np


dados_anomalia_termica = [-0.08, -0.27, 0.12,-0.03, 0.26, 0.40, 1.02]
anomaliaTermicaSemIndice = pd.Series(dados_anomalia_termica)
anomaliaTermicaSemIndice

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [85]:
dados_anomalia_termica = [-0.08, -0.27, 0.12,-0.03, 0.26, 0.40, 1.02]
dados_anos = list(range(1900, 2040, 20))

anomaliaTermicaComIndice = pd.Series(dados_anomalia_termica, dados_anos)
anomaliaTermicaComIndice

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [87]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}
anomaliaTermicaDicionario = pd.Series(dic_temperaturas)
print(anomaliaTermicaDicionario)
# seu código aqui

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [88]:
arr = np.random.normal(100, 10, (20,3))
df = pd.DataFrame(arr)
print(df)

             0           1           2
0    93.639227   83.963742   83.953889
1   108.637202  104.708713   90.981530
2   113.772274   95.454066   88.358183
3    79.228644  101.222376  103.389761
4   110.289146   86.112610   80.605635
5    87.899023  106.588009  110.830043
6    98.826744   98.128442  101.815435
7    95.088156   87.826662  101.236481
8   105.937918  106.603374  118.756074
9   120.796959   99.306013  109.194134
10  105.391693  114.545256  102.855587
11   93.355062  118.576832  106.689585
12   95.363065   98.595940   97.791791
13  101.259108  107.656136  103.558342
14  106.361700   93.024811   85.104825
15   85.950482   98.871303  107.550013
16  112.894188  126.973899  117.724407
17   90.023274   93.438825  109.356984
18   74.997913   79.694171  102.893003
19  118.142174   97.222989  107.439284

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [89]:
df = pd.DataFrame(arr, index=range(1, 21), columns=["x1", "x2", "x3"])
print (df)

            x1          x2          x3
1    93.639227   83.963742   83.953889
2   108.637202  104.708713   90.981530
3   113.772274   95.454066   88.358183
4    79.228644  101.222376  103.389761
5   110.289146   86.112610   80.605635
6    87.899023  106.588009  110.830043
7    98.826744   98.128442  101.815435
8    95.088156   87.826662  101.236481
9   105.937918  106.603374  118.756074
10  120.796959   99.306013  109.194134
11  105.391693  114.545256  102.855587
12   93.355062  118.576832  106.689585
13   95.363065   98.595940   97.791791
14  101.259108  107.656136  103.558342
15  106.361700   93.024811   85.104825
16   85.950482   98.871303  107.550013
17  112.894188  126.973899  117.724407
18   90.023274   93.438825  109.356984
19   74.997913   79.694171  102.893003
20  118.142174   97.222989  107.439284

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [90]:
df = pd.DataFrame(arr, index=range(1, 21), columns=["x1", "x2", "x3"])
df['media'] = df[['x1', 'x2', 'x3']].mean(axis=1)   # axis=1: cáculo realizado ao longo das colunas
print(df)

            x1          x2          x3       media
1    93.639227   83.963742   83.953889   87.185620
2   108.637202  104.708713   90.981530  101.442482
3   113.772274   95.454066   88.358183   99.194841
4    79.228644  101.222376  103.389761   94.613594
5   110.289146   86.112610   80.605635   92.335797
6    87.899023  106.588009  110.830043  101.772358
7    98.826744   98.128442  101.815435   99.590207
8    95.088156   87.826662  101.236481   94.717100
9   105.937918  106.603374  118.756074  110.432455
10  120.796959   99.306013  109.194134  109.765702
11  105.391693  114.545256  102.855587  107.597512
12   93.355062  118.576832  106.689585  106.207160
13   95.363065   98.595940   97.791791   97.250265
14  101.259108  107.656136  103.558342  104.157862
15  106.361700   93.024811   85.104825   94.830445
16   85.950482   98.871303  107.550013   97.457266
17  112.894188  126.973899  117.724407  119.197498
18   90.023274   93.438825  109.356984   97.606361
19   74.997913   79.694171  102.893003   85.861696
20  118.142174   97.222989  107.439284  107.601482

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [91]:
df = pd.DataFrame(arr, index=range(1, 21), columns=["x1", "x2", "x3"])
df['media'] = df.mean(axis=1)
df['log_med'] = np.log(df['media'])
print(df)

            x1          x2          x3       media   log_med
1    93.639227   83.963742   83.953889   87.185620  4.468039
2   108.637202  104.708713   90.981530  101.442482  4.619492
3   113.772274   95.454066   88.358183   99.194841  4.597086
4    79.228644  101.222376  103.389761   94.613594  4.549801
5   110.289146   86.112610   80.605635   92.335797  4.525432
6    87.899023  106.588009  110.830043  101.772358  4.622739
7    98.826744   98.128442  101.815435   99.590207  4.601064
8    95.088156   87.826662  101.236481   94.717100  4.550895
9   105.937918  106.603374  118.756074  110.432455  4.704404
10  120.796959   99.306013  109.194134  109.765702  4.698348
11  105.391693  114.545256  102.855587  107.597512  4.678398
12   93.355062  118.576832  106.689585  106.207160  4.665392
13   95.363065   98.595940   97.791791   97.250265  4.577288
14  101.259108  107.656136  103.558342  104.157862  4.645908
15  106.361700   93.024811   85.104825   94.830445  4.552091
16   85.950482   98.871303  107.550013   97.457266  4.579414
17  112.894188  126.973899  117.724407  119.197498  4.780782
18   90.023274   93.438825  109.356984   97.606361  4.580943
19   74.997913   79.694171  102.893003   85.861696  4.452738
20  118.142174   97.222989  107.439284  107.601482  4.678434